body{
    padding: 15px;
    margin-right: 30%;
}
h2{
    margin-bottom: 30px;
}
form{
    padding: 25px;
    background-color: rgb(224, 243, 138);
}
input{
    font-size: 17px;
}
input[type=number]{
    margin-left: 11px;
} 
input:required {
    border: 2px solid #ff0000;
}
input:valid {
  border: 2px solid #00ff00;
}
input:invalid {
  border: 2px solid #ff0000;
}
.error-message {
  color: #ff0000;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#submit{
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(247, 243, 59);
    color: rgb(0, 0, 0);
    border-color: rgb(35, 122, 236);
    width: 120px;
    height: 30px;
    margin-left: 10%;
    font-size: 15px;
}
#submit:hover{
    background-color: rgb(0, 255, 115);
}



  