body{
    background-color: black;
    padding: 10px;
}
h2{
    color: #14d62e;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
details{
    color: #ca4e88;
    font-size: 20px;
}
p{
    background-color:#14d62e;
    color: antiquewhite;
    height: 30px;
    font-size: 25px;
    text-align:center;
    text-transform: capitalize ;
    border-radius: 20px;
}
fieldset{
    background-color: rgb(41, 41, 41);
}
form {
    margin: 0 auto;
    width: 60%;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 20px;
}
input[type=text], select{
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
}
input[type=text],textarea{
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
}
#age{
    width: 20%;
    height: 30px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    margin: 0% 40% 0% 43%;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #ca4e88;
}





